body {
    font-family: Helvetica, Verdana, Arial;
    background-image: url(background.jpg);
    background-size: cover;
    color: black;
    padding-right: 70px;
}
/* Photo by Jr Korpa on Unsplash https://unsplash.com/collections/ldGx8lAcEUg/textures */

h1 {
    font-size: 280%;
    padding-left: 70px;
}

ul {
    list-style-type: none;
    padding-right: 20px
}

a {
    color: black;
}

.pagelink {
    font-size: larger;
}

.center {
    margin: auto;
    text-align: center;
    width: 550px;
}

.box {
    padding: 10px;
    width: 600px;
    margin: auto;
    font-weight: bold;
    border-radius: 10px 30px;
    padding: 4px; 
    background:
        linear-gradient(45deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)) padding-box,
        linear-gradient(20deg,darkblue,rgb(255, 115, 0)) border-box; 
    border: 5px solid transparent;
    border-radius: 10px 30px;
}

.mainpage {
    color: rgb(39, 47, 66);
}