body {
    font-family: Helvetica, Verdana, Arial;
    background-image: url(resources/background.jpg);
    background-size: cover;
    color: black;
    text-align: center;
}
/* Photo by Jr Korpa on Unsplash https://unsplash.com/photos/YXQew2KZjzY */

#itproject {
    padding-right: calc(50vw - 700px);
    padding-left: calc(50vw - 650px);
}

#profile {
    padding-right: calc(50vw - 630px);
    padding-left: calc(50vw - 580px);
}

h1 {
    font-size: 280%;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    width: 550px;
}

a {
    color: black;
}

img {
    padding: 6px; 
    background:
        linear-gradient(45deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)) padding-box,
        linear-gradient(20deg,darkblue,rgb(255, 115, 0)) border-box; 
    border: 5px solid transparent;
    border-radius: 30px 10px;
    max-width: 100%;
    max-width: 100%;
}

.indexpagelink {
    font-size: larger;
}

.center {
    text-align: center;
    margin: auto;
    width: 600px;
}

.box {
    width: 600px;
    font-weight: bold;
    padding: 4px; 
    padding-left: 20px;
    padding-right: 18px;
    background:
        linear-gradient(45deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)) padding-box,
        linear-gradient(20deg,darkblue,rgb(255, 115, 0)) border-box; 
    border: 5px solid transparent;
    border-radius: 10px 30px;
}

.leftbox, .rightbox {
    float: left;
    text-align: center;
    width: 51%;
}

#profile > .leftbox, #profile > .rightbox {
    width: 50%;
}

@media screen and (max-width: 1300px) {
    .rightbox, .leftbox {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    #profile > .leftbox, #profile > .rightbox {
        width: 100%;
    }
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}

.pagelink {
    color: rgb(39, 47, 66);
}

#links, #personalinfo {
    list-style-type: none;
    padding-right: 40px
}

#personalinfo > li, .left {
    text-align: left;
}

.left {
    font-weight: 1;
}

#projectimg {
    width: 550px;
}

#avatarimg {
    width: 300px;
}