body {
    font-family: Helvetica, Verdana, Arial;
    background-image: url("background.jpg");
    background-size: cover;
    color: whitesmoke;
}
/* https://wallpaperboat.com/cool-website-background background url */

h1 {
    font-size: 230%;
}

.pagelink {
    font-size: larger;
}

.center {
    margin: auto;
    text-align: center;
}

.bluebox {
    border: 2px solid;
    border-image: linear-gradient(25deg, darkblue, rgb(233, 67, 67)) 1;
    padding: 10px;
    width: 500px;
    margin: auto;
}