body {
    font-family: Helvetica, Verdana, Arial;
    background-image: url(background.jpg);
    background-size: cover;
    color: black;
}
/* Photo by Jr Korpa on Unsplash https://unsplash.com/collections/ldGx8lAcEUg/textures */

h1 {
    font-size: 280%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.pagelink {
    font-size: larger;
}

.center {
    margin: auto;
    text-align: center;
    background-image: white;
    width: 550px;
}

.box {
    border-radius: 25% 10%;
    border: 4px solid;
    border-image: linear-gradient(25deg, darkblue, rgb(255, 115, 0)) 1;
    padding: 10px;
    width: 500px;
    margin: auto;
    font-weight: bold;
}